* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  --blue1: #171a48;
  --blue2: #0f1030;
}

.father {
  display: flex;
  flex-direction: column;
}

input[type="submit"],
button,
a {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(36, 36, 36);
  background-color: var(--blue1);
}

.logo,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
}

.logo a {
  display: flex;
  gap: 0.5rem;
  color: aliceblue;
}

ul {
  display: flex;
  gap: 1.5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: aliceblue;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aliceblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;
  background-color: var(--blue2);
}

form {
  border: 1px solid rgba(240, 248, 255, 0.626);
  color: aliceblue;
  background-color: var(--blue1);
  padding: 2rem 2.3rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  border-radius: 0.3rem;
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.2rem;
}

.input-control input,
.input-control select {
  width: 100%;
  outline: none;
  text-align: left;
  padding: 0.4rem;
  color: aliceblue  ;
  background-color: var(--blue2);
  border: 1.4px solid transparent;
  border-radius: 0.2rem;
  transition: all 0.4s;
}

.input-control input:focus,
.input-control select:focus {
  border: 1.4px solid aliceblue;
}

.submit-control {
  width: 100%;
  display: flex;
  justify-content: center;
}

#botaoEnviar {
  padding: 0.2rem 0.8rem;
  border-radius: 0.15rem;
  outline: none;
  border: 1px solid rgb(23, 20, 29);
  transition: all 0.4s;
  font-size: 15px;
}

#botaoEnviar:hover {
  background-color: rgb(23, 20, 29);
  color: white;
}

.cards {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  min-width: 15rem;
  grid-template-columns: auto auto auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  min-width: 15rem;
  min-height: 20rem;
  border: 1px solid rgb(22, 24, 38);
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.601);
  color: aliceblue;
}
