* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  --blue1: #171a48;
  --blue2: #0f1030;
}

.father {
  display: flex;
  flex-direction: column;
  background-color: var(--blue2);
}

input[type="submit"],
button,
a {
  cursor: pointer !important;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  font-size: 17px;
  font-weight: 400;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(36, 36, 36);
  background-color: var(--blue1);
}

.logo,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
}

.logo a {
  display: flex;
  gap: 0.5rem;
  color: aliceblue;
}

ul {
  display: flex;
  gap: 1.5rem;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: aliceblue;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: aliceblue;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.main-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 92.2vh;
  flex-direction: column;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.601);
}

.main-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/acd72b168511603.643c2b2d8021e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

form {
  border: 1px solid rgba(240, 248, 255, 0.626);
  color: aliceblue;
  background-color: var(--blue1);
  padding: 2rem 2.3rem;
  width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  border-radius: 0.3rem;
  z-index: 2;
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.2rem;
}

.input-control input,
.input-control select {
  width: 100%;
  outline: none;
  text-align: left;
  padding: 0.4rem;
  color: aliceblue  ;
  background-color: var(--blue2);
  border: 1.4px solid transparent;
  border-radius: 0.2rem;
  transition: all 0.4s;
}

.input-control input:focus,
.input-control select:focus {
  border: 1.4px solid aliceblue;
}

.submit-control {
  width: 100%;
  display: flex;
  justify-content: center;
}

#botaoEnviar {
  padding: 0.45rem 1.3rem;
  border-radius: 0.35rem;
  outline: none;
  border: 1px solid aliceblue;
  transition: all 0.4s;
  font-size: 15px;
  background-color: transparent;
  color: aliceblue;
}

#botaoEnviar:hover {
  background-color: aliceblue;
  color: var(--blue2);
}

.cards {
  display: grid;
  justify-content: center;
  min-width: 15rem;
  grid-template-columns: auto auto auto;
  background-color: var(--blue2);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  gap: 1rem;
  min-width: 15rem;
  min-height: 20rem;
  border: 1px solid aliceblue;
  border-radius: 0.4rem;
  color: aliceblue;
  z-index: 0;
}

.card::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(assets/Opera\ Instantâneo_2023-05-14_002947_www.google.com.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  opacity: 0.5; 
  z-index: -1;
}